@font-face {
    font-family: "Space Grotesk";
    src: url('../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

html {
    font-family: 'Space Grotesk', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

#site-body {
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/images/aron-visuals-BXOXnQ26B7o-unsplash.jpg');
    background-size: cover;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    /* for horizontal alignment */
    justify-content: center;
    /* for vertical alignment */
}

#main-content {
    position: relative;
    background-color: #aaaaaa60;
    padding: 20px 40px;
    border-radius: 25px;
    box-shadow: 1px 1px 40px #00000088;
}

h1 {
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

#form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#form-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: #000;
    font-weight: 700;
    font-size: 25px;
    margin: 20px;
}

.param-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 15px;
}

.time-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    background-color: transparent;
}

.time-arrow-up {
    border-bottom: 10px solid #4a2611;
    border-top: none;
}

.time-arrow-down {
    border-top: 10px solid #4a2611;
    border-bottom: none;
}

.time-input {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 50px;
    margin: 10px 0;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    border-bottom: 2.5px solid #4a2611;
}

/* disabling number input arrows */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.time-input:focus-visible {
    outline: none;
    background-color: #aaaaaa80;
    padding-bottom: 0;
}

#form-button {
    background-color: #4a2611;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    box-shadow: .5px 1px 2px #00000044;
}

#form-button:hover {
    background-color: #5a3621;
    box-shadow: .5px 1px 10px #00000084;
}

#timer {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#timer-clock {
    display: contents;
    font-size: 400%;
    font-weight: bold;
    color: #4a2611;
}

input[type=button],
input[type=submit] {
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 12px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    opacity: 0.5;
    box-shadow: 5px 4px #000000;
}

a {
    color: #4a2611;
    cursor: pointer;

}